$r1: Rect1;
$r2: Rect2;
$a: -active;

//STORE THE TRANSITION VALUES IN AN ARRAY
//VALUES ARE:
//  class transition opac1 opac2 scale1 scale2
$transition-list: (
  $r1  -appear   0.01   1   0.5   1,
  $r1  -enter    0      1   0.5   1,
  $r1  -leave    1      0   0.5   1,
  $r2  -appear   0.01   1   1.5   1,
  $r2  -enter    0      1   1.5   1,
  $r2  -leave    1      0.01   1   1.5,
);

//AND THEN LOOP THROUGH THEM
@each $v in $transition-list {
  .#{nth($v, 1)}#{nth($v, 2)} {
      opacity: nth($v, 3);
      transform-origin: center;
      transform: scale(nth($v, 5));
    
    &.#{nth($v, 1)}#{nth($v, 2)}#{$a}{
      opacity: nth($v, 4);
      transform: scale(nth($v, 6));
      transition: opacity .35s cubic-bezier(0.165, 0.84, 0.44, 1), transform .35s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    }
}

